.home_MainContainer {
  display: flex;
  flex-direction: column;
}

.cHome_Wrapper {
  min-height: 35vmin;
  background-color: #a390e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background-color: rgba($color: #a390e4, $alpha: 0.5);
  }
}

.cHome_Img_Section {
  margin: 10px 10px;
  min-height: 30vmin;
  max-height: 40vmin;
  min-width: 80vw;
  background-color: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
