.logo-Wrapper {
  /*background-color: blue;*/
  margin: 1em auto;
  display: flex;
  justify-content: center;
}

.logo {
  min-width: 200px;
  max-width: 250px;
  min-height: 200px;
  max-height: 250px;
}
