@import "../../global";

.cSocialMediaLink_Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
svg {
  width: 2em;
  fill: $mainTextColor;
  align-self: center;
}

.fb:hover {
  fill: #4267b2;
}

.nstgrm:hover {
  fill: url(#nstgrm_gradient);
}

.nstgrm:hover {
  fill: url(#nstgrm_gradient);
}

.twttr:hover {
  fill: #1c9ded;
}
