@import "./global";

* {
  box-sizing: border-box;
  color: $mainTextColor;
  //font-family: "Permanent Marker", cursive;
  font-family: "Waiting for the Sunrise", Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.5em;
  font-weight: 500;
}

.cApp_MainContainer {
  display: flex;
  flex-direction: column;
}
